<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Osseo Area Robotics</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="osseoAreaRobotics" ng-controller="schools">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Osseo Area Robotics</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#schools" onclick=$("#menu-close").click();>Schools</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Osseo Area Robotics</h1>
            <br>
            <h3>To Give the Opportunity of Robotics to Every Child, in Every Grade, in Every School.</h3>
            <div class="col-lg-6 pull-right">
              Crimson Robotics, Mission Statement
            </div>

            <br>
            <br>
            <div class="row">
              <a href="#schools" class="btn btn-dark btn-lg">Search for opportunities at my school</a>
            </div>


        </div>
    </header>

    <!-- About -->
    <section id="quote" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">“Transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders.”</p>
                    <p class="pull-right">
                      - <a href="https://en.wikipedia.org/wiki/Dean_Kamen">Dean Kamen</a>, Inventor and Founder of FIRST Robotics
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="schools" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Choose your school from the list:</h2>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" ng-model="searchText" placeholder="Search" />
                      </br>
                      </div>
                    </div>
                    <br  />
                    <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="row">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th style="color: #000"><h4>School Name</h4></th>
                                <th style="color: #000"><h4>Programs</h4></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="school in allSchools | filter: searchText">
                                <td style="color: #000">{{ school.name }}</td>
                                <td>
                                  <a href="#programs" ng-click="$parent.selectedProgram = school" class="btn btn-lg btn-dark">View Programs</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                            </div>
                          </div>
                      </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Don't see your school?</h2>
                    <a href="#contact" class="btn btn-lg btn-light">Contact Us and Help Start a Team!</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- About -->
    <section id="programs" ng-if="selectedProgram != null">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ selectedProgram.name }}</h2>
                    <hr class="small">
                    <div class="row">
                      <p class="lead"> The following programs are offered at {{ selectedProgram.name }}. If you have any questions, please do not hesidate to contact {{ selectedProgram.contactEmail }}</p>
                      <div class="alert alert-warning" ng-if="selectedProgram.currentMessage.length > 0">
                        {{selectedProgram.currentMessage}}
                      </div>
                    </div>

                      <div class="row">
                        <div ng-if="selectedProgram.flljr" class="col-md-4 col-sm-6">
                            <div class="service-item">
                              <div class="thumbnail">
                                <img src="img/FLLJr.jpg" alt="Junior FIRST LEGO League">
                                <div class="caption">
                                 <h3>K-3rd Grade</h3>
                                 <p>FIRST LEGO League Jr. is designed to introduce STEM concepts while exciting them through a brand they know and love − LEGO®.</p>
                                 <p style="color: red">
                                   Registration will open soon. Please check back later.
                                 </p>
                                 <button class="btn btn-primary" title="Registration will open soon. Please check back later." disabled>Enroll</button><a href="http://www.firstinspires.org/robotics/flljr" class="btn btn-lg btn-secondary" >More Information</a>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div ng-if="selectedProgram.fll" class="col-md-4 col-sm-6">
                            <div class="service-item">
                              <div class="thumbnail">
                                <img src="img/FLL.jpg" alt="FIRST LEGO League">
                                <div class="caption">
                                 <h3>4th-8th Grade</h3>
                                 <p>FIRST LEGO League teams research a real-world problem such as food safety, recycling, energy, etc., and are challenged to develop a solution. They also must design, build, program a robot using LEGO MINDSTORMS®, then compete on a table-top playing field.</p>
                                 <a href="http://www.firstinspires.org/robotics/fll" class="btn btn-lg btn-secondary" >More Information</a>
                                </div>
                             </div>
                            </div>
                        </div>
                        <div ng-if="selectedProgram.ftc" class="col-md-4 col-sm-6">
                            <div class="service-item">
                              <div class="thumbnail">
                                <img src="img/FTC.jpg" alt="FIRST Tech Challenge Competition">
                                <div class="caption">
                                 <h3>7th-12th Grade</h3>
                                 <p>High-school student participants call it “the hardest fun you’ll ever have.” Under strict rules, limited resources, and an intense six-week time limit, teams of 20 or more students are challenged to raise funds, design a team "brand," hone teamwork skills, and build and program industrial-size robots to play a difficult field game against like-minded competitors. It’s as close to real-world engineering as a student can get.</p>
                                 
                                 <a href="http://www.firstinspires.org/robotics/ftc" class="btn btn-lg btn-secondary" >More Information</a>
                                </div>
                             </div>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div ng-if="selectedProgram.frc" class="col-md-6 col-sm-6">
                            <div class="service-item">
                              <div class="thumbnail">
                                <img src="img/FRC.jpg" alt="FIRST Robotics Competition">
                                <div class="caption">
                                 <h3>9th-12th Grade</h3>
                                 <p>High-school student participants call it “the hardest fun you’ll ever have.” Under strict rules, limited resources, and an intense six-week time limit, teams of 20 or more students are challenged to raise funds, design a team "brand," hone teamwork skills, and build and program industrial-size robots to play a difficult field game against like-minded competitors. It’s as close to real-world engineering as a student can get.</p>
                                 <a href="http://www.firstinspires.org/robotics/frc" class="btn btn-lg btn-secondary" >More Information</a>
                                </div>
                             </div>
                            </div>
                        </div>
                        <div ng-if="selectedProgram.vex" class="col-md-6 col-sm-6">
                            <div class="service-item">
                              <div class="thumbnail">
                                <img src="img/VEX.jpg" alt="VEX Robotics Competition">
                                <div class="caption">
                                 <h3>9th-12th Grade</h3>
                                 <p>An exciting engineering challenge is presented each year in the form of a game. Students build innovative robots and compete year-round in a variety of matches. In addition, students gain life skills such as teamwork, perseverance, communication, collaboration, project management, and critical thinking.</p>
                                 <a href="http://www.roboticseducation.org/competition-teams/vex-robotics-competition/" class="btn btn-lg btn-secondary" >More Information</a>
                                </div>

                             </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->

                      </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary" ng-if="selectedProgram != null">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Interested?</h2>
                    <a ng-if="selectedProgram.hasWebsite" href="{{ selectedProgram.websiteURL }}" class="btn btn-lg btn-dark">{{ selectedProgram.websiteTitle }}</a>
                    <a ng-if="selectedProgram.contactEmail.length > 0" href="mailto:{{selectedProgram.contactEmail}}" class="btn btn-lg btn-dark">Contact Us</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Footer -->
    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4>
                      <strong>Crimson Robotics</strong>
                    </h4>
                    <h5>
                      <a href="http://www.crimsonrobotics.com">CrimsonRobotics.com</strong>
                    </h5>
                    <p>9800 Fernbrook Ln N
                        <br>Maple Grove, MN 55369</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:outreach@crimsonrobotics.com">outreach@crimsonrobotics.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Crimson Robotics 2016</p>
                  </br></br>
                    <p class="text-muted">These robotics programs are extracurricular school activites run by Crimson Robotics and not official programs of Independant School District 279.</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>

    var app = angular.module("osseoAreaRobotics", []);

    app.controller("schools", function($scope, $http) {
        $http.get('https://spreadsheets.google.com/feeds/list/1A-t8ZydNelOE_Ri6KhtoSMugIYckZRpF6Qx30TQHXWg/od6/public/values?alt=json')
        .then(function(response) {
          $scope.allSchools = [];

          $.each(response.data.feed.entry, function(index, entry) {
            $scope.allSchools.push({
              name: entry.gsx$schoolname.$t,
              flljr: entry.gsx$flljr.$t == 'TRUE',
              fll: entry.gsx$fll.$t == 'TRUE',
              frc: entry.gsx$frc.$t == 'TRUE',
              ftc: entry.gsx$ftc.$t == 'TRUE',
              vex: entry.gsx$vex.$t == 'TRUE',
              currentMessage: entry.gsx$currentmessage.$t,
              contactEmail: entry.gsx$contactemail.$t,
              hasWebsite: entry.gsx$websitetitle.$t.length > 0 && entry.gsx$websiteurl.$t.length > 0,
              websiteTitle: entry.gsx$websitetitle.$t,
              websiteURL: entry.gsx$websiteurl.$t
            });
            console.log($scope.allSchools);
          });
        });

        $scope.selected = null;
    });

    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
